---
import Layout from '../layouts/Layout.astro';
---

<Layout title="The Good Things Foundation - The diigtal divide">
  <main class="page-view">
    <h1>The digital divide</h1>
    <p>Lorem ipsum etcetera plus reams of dingbats</p>
  </main>
</Layout>

<style>

</style>
