---
import Layout from '../layouts/Layout.astro';
import TheHero from '../components/TheHero.vue';
import ContentBlocks from '../components/ContentBlocks.vue';
import UserDescription from '../components/UserDescription.vue';
import DescriptionBlock from '../components/DescriptionBlock.vue';
---

<Layout title="The Good Things Foundation">
	<main>
		<TheHero />
		<ContentBlocks />
		<UserDescription />
		<DescriptionBlock />
	</main>
</Layout>

<style>

</style>
