---
import TheHeader from '../components/TheHeader.vue'
import UserMeta from '../components/UserMeta.vue'
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="wrapper">
			<UserMeta />
			<TheHeader />
			<slot />
		</div>
	</body>
</html>
<style is:global>
	/* color palette from <https://github.com/vuejs/theme> */
	:root {
		--vt-c-white: #ffffff;
		--vt-c-white-soft: #f8f8f8;
		--vt-c-white-mute: #f2f2f2;

		--vt-c-black: #181818;
		--vt-c-black-soft: #222222;
		--vt-c-black-mute: #282828;

		--vt-c-indigo: #2c3e50;
		--colour-primary: #497c8f;
		--colour-secondary: #478176;
		--colour-tertiary: #cf1b46;

		--vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
		--vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
		--vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
		--vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

		--vt-c-text-light-1: var(--vt-c-indigo);
		--vt-c-text-light-2: rgba(60, 60, 60, 0.66);
		--vt-c-text-dark-1: var(--vt-c-white);
		--vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
	}

	/* semantic color variables for this project */
	:root {
		--color-background: var(--vt-c-white);
		--color-background-soft: var(--vt-c-white-soft);
		--color-background-mute: var(--vt-c-white-mute);

		--color-border: var(--vt-c-divider-light-2);
		--color-border-hover: var(--vt-c-divider-light-1);

		--color-heading: var(--vt-c-text-light-1);
		--color-text: var(--vt-c-text-light-1);

		--section-gap: 160px;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--color-background: var(--vt-c-black);
			--color-background-soft: var(--vt-c-black-soft);
			--color-background-mute: var(--vt-c-black-mute);

			--color-border: var(--vt-c-divider-dark-2);
			--color-border-hover: var(--vt-c-divider-dark-1);

			--color-heading: var(--vt-c-text-dark-1);
			--color-text: var(--vt-c-text-dark-2);
		}
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
		margin: 0;
		font-weight: normal;
	}

	body {
		min-height: 100vh;
		color: var(--color-text);
		background: var(--vt-c-white);
		transition:
			color 0.5s,
			background-color 0.5s;
		line-height: 1.6;
		font-family: 'Rubik', sans-serif;
		font-size: 15px;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	#app {
		margin: 0 auto;
		padding: 0;
		font-weight: normal;
		width: 100%;
	}

	a,
	.green {
		text-decoration: none;
		color: hsla(160, 100%, 37%, 1);
		transition: 0.4s;
		padding: 3px;
	}

	/* SOME BUTTON STYLES*/
	.button {
		align-items: center;
		display: inline-flex;
		font-weight: bold;
		padding: 0.25rem 1rem;
	}

	.button--default {
		background-color: var(--vt-c-white);
		border: none;
		color: var(--colour-tertiary);
		padding: 0.5rem 1rem;
	}

	.button--option {
		border-bottom: 3px solid var(--colour-secondary);
		color: var(--vt-c-black);
	}

	.button--highlight {
		background-color: var(--colour-tertiary);
		color: var(--vt-c-white);
	}

	.button--round {
		border-radius: 1.5rem;
	}

	.button--transparent {
		border: 1px solid var(--vt-c-white);
		color: var(--vt-c-white);
	}

	@media (hover: hover) {
		a:hover {
			background-color: hsla(160, 100%, 37%, 0.2);
		}
	}

	@media (min-width: 1024px) {
		body {
			display: flex;
		}
	}

	.heading {
		font-size: 3rem;
	}

	.page-view {
		align-items: flex-start;
		color: var(--vt-c-black-mute);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding: 5rem;
	}

	.wrapper {
		font-family: 'Rubik', sans-serif;
		margin: 0 auto;
		max-width: 120rem;
		position: relative;
		width: 100%;
	}
	header {
		line-height: 1.5;
		max-height: 100vh;
	}

	nav {
		font-size: 12px;
		text-align: center;
	}

	nav a.router-link-exact-active {
		color: var(--color-text);
	}

	nav a.router-link-exact-active:hover {
		background-color: transparent;
	}

	nav a {
		display: inline-block;
		padding: 0 1rem;
		border-left: 1px solid var(--color-border);
	}

	nav a:first-of-type {
		border: 0;
	}

	@media (min-width: 1024px) {
		header {
			display: flex;
			place-items: center;
			padding-right: calc(var(--section-gap) / 2);
		}

		header .wrapper {
			display: flex;
			place-items: flex-start;
			flex-wrap: wrap;
		}

	}
</style>
